@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-bg: #fff;
  --accent-color: #004d00;
  --text-color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 2%;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--text-color);
}

header, footer {
  background-color: var(--accent-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}


.hero img {
  width: 35%;
  height: auto;
  object-fit: cover;
  display: block;     /* Required to center using margin */
  margin: 10px auto;
}

.weather h2::after {
  content: " ⛅";
}

@media (min-width: 800px) {
  .weather h2::after {
    content: "";
    background-image: url('images/hero-small.jpg');
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}